body{
    font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: #333333;
}

img {
	width: 100%;
}

.chart{
	display: table;
	width: auto; 
	vertical-align: middle;
}

.chart-center{
	display: table;
	width: auto; 
	margin: 0 auto;
	vertical-align: middle;
}

.pie-info{
	display: table-cell;
	vertical-align: inherit;
}

.pie{
	display: table-cell;
	width: 120px;
	margin-right: 20px;
	float: left;
}

/*
 * Tables
 */
 
/* Table */
.CustomTable {
	padding:0px;
	color: #AAAAAA;
	border-collapse: collapse;
	display: table;
    width: 100%;
}.CustomTable td{
	border-bottom: 1px solid #AAAAAA;
}
.CustomTable td{
	padding: 5px;
	padding-right: 15px;
}

/* Table 2*/
.CustomTable2 {
	text-align: left;
	margin-bottom:10px;
	padding:0px;
}.CustomTable2 th{
	border-bottom: 1px solid #CCCCCC;
	text-align: left;
	font-weight: normal;
	padding: 5px;
}
.CustomTable2 td{
	padding: 5px;
	margin-right: 15px;
	font-weight:bold;
}

/* Resize */
@media (max-width: 991px) {
	.text-center-sm {
		text-align: center!important;
	}
	.text-left-sm {
		text-align: left!important;
	}
	table {
		width: 100%;
	}
	img {
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
	}
	.center-table{
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
	}
	.chart{
		margin: 0 auto;
	}
}

@media (max-width: 767px) {
	.container {
		margin-left: 4%;
		margin-right: 4%;
	}
	.center-table{
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
	}
	img {
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
	}
}



/*
 *	Background colors 
 */

.header {
	background-color: #333333;
}

.main {
	background-color: #F2F2F2;
}

.footer{
	background-color: #333333;
}

/* Button css */
.button {
	margin: 5px;
	background-color:#00cdff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.button:hover {
	background-color:#0688fa;
	text-decoration:none;
}
.button:active {
	position:relative;
	top:1px;
}
.button:focus{
	text-decoration: none;
	color: #ffffff;
}

/* File Structure list */
div > ul {
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding: 15px; 
    padding-left: 25px;
}
ul{
	list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding-left: 25px;
}
li {
	padding-top: 5px;
}

/* Table 3*/
.CustomTable3 {
	margin-bottom:10px;
	text-align: left;
	padding:0px;
	border-collapse: collapse;
	table-layout: fixed;
  	width: 100%;
}.CustomTable3 th{
	text-align: left;
	background-color: white;
	padding: 5px;
}.CustomTable3 th:first-child{
	padding-left: 25px;
}
.CustomTable3 td{
	padding: 5px;
	padding-right: 10px;
	word-break: break-all;
}.CustomTable3 td:first-child{
	padding-left: 25px;
}

/* 
 * Titles css
 */
h1{
	color: #CDCDCD;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 30px;
	
    position:relative;
    text-align:center;
	
	border-bottom: 1px solid;
	padding-bottom: 10px;
}

h1:after {
	content:'';
    position:absolute;
    width:150px;
    height:4px;
    background: #A6A6A6;
    bottom:-4px;
    left:0;
    right:0;
    margin:auto;
}

h2{
	color: #AAAAAA;
	font-size: 30px;
	font-weight: bold;
}

h3{
	color: #00CDFF;
	font-size: 35px;
	font-weight: bold;
	
    text-align: center;
}

h4{
	margin-bottom: 10px;
}

h4 i{
	color: #33CCFF;
	font-size: 20px!important;
}

/*
 * Margins
 */
 
.top10{ margin-top: 10px; }
.top20{ margin-top: 20px; }
.top30{ margin-top: 30px; }
.top40{ margin-top: 40px; }
.top50{ margin-top: 50px; }
.top60{ margin-top: 60px; }
.top70{ margin-top: 70px; }
.top80{ margin-top: 80px; }
.top90{ margin-top: 90px; }
.top100{ margin-top: 100px; }

.bot10{ margin-bottom: 10px; }
.bot20{ margin-bottom: 20px; }
.bot30{ margin-bottom: 30px; }
.bot40{ margin-bottom: 40px; }
.bot50{ margin-bottom: 50px; }
.bot60{ margin-bottom: 60px; }
.bot70{ margin-bottom: 70px; }
.bot80{ margin-bottom: 80px; }
.bot90{ margin-bottom: 90px; }
.bot100{ margin-bottom: 100px; }

@media (max-width: 991px) {
	.top10-sm{ margin-top: 10px; }
	.top20-sm{ margin-top: 20px; }
	.top30-sm{ margin-top: 30px; }
	.top40-sm{ margin-top: 40px; }
	.top50-sm{ margin-top: 50px; }
	.top60-sm{ margin-top: 60px; }
	.top70-sm{ margin-top: 70px; }
	.top80-sm{ margin-top: 80px; }
	.top90-sm{ margin-top: 90px; }
	.top100-sm{ margin-top: 100px; }
	
	.bot10-sm{ margin-bottom: 10px; }
	.bot20-sm{ margin-bottom: 20px; }
	.bot30-sm{ margin-bottom: 30px; }
	.bot40-sm{ margin-bottom: 40px; }
	.bot50-sm{ margin-bottom: 50px; }
	.bot60-sm{ margin-bottom: 60px; }
	.bot70-sm{ margin-bottom: 70px; }
	.bot80-sm{ margin-bottom: 80px; }
	.bot90-sm{ margin-bottom: 90px; }
	.bot100-sm{ margin-bottom: 100px; }
}

/*
 * Colors
 */
.info{
	color: #CDCDCD;
}

.info-white{
	color: #FFFFFF;
}

.info-dark{
	color: #777777;
}

.bold{
	font-weight: bold;
}

.warning{
	color: #FF9900;
}

.error{
	color:red;
}

.success{
	color: #66CC66;
}

.hover-row:hover{
	background-color: rgba(0, 106, 255, 0.08);;
}

.hide {
	display:none;
}

.show{
	display:block;
}