/bin/
/target/
/doc/
reports/
.idea/
.classpath
.settings/
easyinnova/
*.dpf
!src/main/resources/*.dpf
!src/test/resources/ConfigFiles/*.dpf
!package/resources/*.dpf
!config.dpf
src/test/resources/TestWriter/Bilevel2.tif
Output/
src/test/resources/private/
temp/
*.log
dpf_manager.iml
