language: java

jdk: oraclejdk8

addons:
  apt:
    packages: oracle-java8-installer

os: linux
sudo: required

matrix:
  include:
    # Custom builds
    - env: TOKEN=cmd
      script: mvn test -B -Dtest=commandline/*Test.java,implementationchecker/*Test.java -DfailIfNoTests=false
    #- env: TOKEN=gui
      script: travis_wait 20 mvn test -B -Dtest=gui/*Test.java -DfailIfNoTests=false
    #- env: TOKEN=server
      script: mvn test -B -Dtest=server/*Test.java -DfailIfNoTests=false
  exclude:
    # Exclude default build
    - jdk: oraclejdk8

before_install:
  - if [ "${TOKEN}" == "gui" ]; then export DISPLAY=:99.0; fi
  - if [ "${TOKEN}" == "gui" ]; then sh -e /etc/init.d/xvfb start; fi