<div class="row top20  bot30" >
	<div class="col-md-2"></div>
	<div class="col-md-8 individual-in-global">
		<div class="row hover-row" style="cursor: pointer;" onclick="javascript:location.href='##HREF##'">
			<div class="col-md-3 vcenter hcenter top10 bot10">
				<img src="##IMG_PATH##" class="preview-image" alt="preview" />
			</div><!--
		 --><div class="col-md-9 vcenter">
				<div class="row">
					<div class="col-xs-9 vcenter-xs">
						<p class="info-dark bold top10 text-center-sm">##IMG_NAME##</p>
						<table class="center-table CustomTable2" style="width: 100%">
							##TABLE_RESUME_IMAGE##
						</table>
					</div><!--
		 			--><div class="col-xs-3 vcenter-xs">
						<div class="chart">
							<div class="pie" id="pie-##INDEX##" style="max-width: 75px; min-height: 75px;"></div>
						</div>
						<div class="pie-info" style="padding: 5px 0px 0px 10px;">
							<div class="##CLASS## bold">##RESULT## <font class="warning bold" style="display: ##DISPLAY_WAR##;">with warnings</font></div>
							<div class="info-dark bold">Score ##PERCENT##%</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>