<div class="row top20  bot30" >
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="row hover-row" style="cursor: pointer;" onclick="javascript:location.href='##HREF##'">
			<div class="col-md-3">
				<img src="##IMG_PATH##" alt="preview" />
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<p class="info-dark bold top10 text-center-sm">##IMG_NAME##</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<table class="center-table CustomTable2">
						    <tr>
						        <th colspan="3" class="">Conformance checker</th>
						        <td width=10px></td>
				<!-- 		        <th class="">Policy checker</th> -->
						    </tr>
						    <tr class="##BL_CLASS##">
						        <td>Baseline</td>
						        <td class="##BL_ERR_C##">##BL_ERR_N## errors</td>
						        <td class="##BL_WAR_C##">##BL_WAR_N## warnings</td>
						        <td></td>
				<!-- 		        <td class="##CP_C##">##CP_N## errors</td> -->
						    </tr>
						    <tr class="##EP_CLASS##">
						        <td>Tiff/EP</td>
						        <td class="##EP_ERR_C##">##EP_ERR_N## errors</td>
						        <td class="##EP_WAR_C##">##EP_WAR_N## warnings</td>
						        <td></td>
				<!-- 		        <td class="##CP_C##">##CP_N## errors</td> -->
						    </tr>
						    <tr class="##IT_CLASS##">
						        <td>Tiff/IT</td>
						        <td class="##IT_ERR_C##">##IT_ERR_N## errors</td>
						        <td class="##IT_WAR_C##">##IT_WAR_N## warnings</td>
						        <td></td>
				<!-- 		        <td class="##CP_C##">##CP_N## errors</td> -->
						    </tr>
						    <tr class="##PC_CLASS##">
						        <td>Policy checker</td>
						        <td class="##PC_ERR_C##">##PC_ERR_N## errors</td>
						        <td class="##PC_WAR_C##">##PC_WAR_N## warnings</td>
						        <td></td>
				<!-- 		        <td class="##CP_C##">##CP_N## errors</td> -->
						    </tr>
						</table>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-4">
						<div class="chart">
							<div class="pie" id="pie-##INDEX##" style="max-width: 75px; min-height: 75px;"></div>
							<div class="pie-info">
								<div class="##CLASS## bold">##RESULT## <font class="warning bold" style="display: ##DISPLAY_WAR##;">with warnings</font></div>
								<div class="info-dark bold">Score ##PERCENT##%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>