<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>##IMG_NAME##</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
	<link rel="stylesheet" type="text/css" href="../html/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../html/css/default.css">
	<link rel="stylesheet" type="text/css" href="../html/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../html/css/fontello.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="header">
		<div class="container">
		
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<img src="../html/img/logo.png" alt="Logo" />
				</div>
				<div class="col-md-4"></div>
			</div>
			
			<div class="row bot30-sm bot50">
				<h1>SINGLE FILE REPORT</h1>
			</div>
			
			<div class="row bot50">
				<div class="col-md-4">
					<img src="##IMG_PATH##" class="preview-image" alt="preview" />
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12 bot20 text-center-sm">
							<h2>##IMG_NAME##</h2>
							<h4 class="color-grey">##IMG_FILEPATH##</h4>
							<div style="display: none;" class="##CL_LINKR2##"><h5><a href="##LINK2##">Report of fixed image</a></h5></div>
							<div style="display: none;" class="##CL_LINKR1##"><h5><a href="##LINK1##">Report of original image</a></h5></div>
							<div style="display: ##ALL_OK##;" class="success"><i class="fa fa-check-circle"></i> This file conforms to conformance checker</div>
							<div style="display: ##ALL_WAR##;" class="warning"><i class="fa fa-exclamation-triangle"></i> This file conforms to conformance checker, BUT it has some warnings</div>
							<div style="display: ##ALL_ERR##;" class="error"><i class="fa fa-exclamation-triangle"></i> This file does NOT conform to conformance checker</div>
						</div>
						<div class="col-md-9">
			                <table class="center-table CustomTable">
			                    <tr>
			                        <td></td>
			                        <td>Errors</td>
			                        <td>Warnings</td>
			                    </tr>
			                    <tr class="##ROW_BL##">
			                        <td>Baseline</td>
			                        <td class="##F_BL_ERR_CLASS##">##F_BL_ERR##</td>
			                        <td class="##F_BL_WAR_CLASS##">##F_BL_WAR##</td>
			                    </tr>
			                    <tr class="##ROW_EP##">
			                        <td>Tiff/EP</td>
			                        <td class="##F_EP_ERR_CLASS##">##F_EP_ERR##</td>
			                        <td class="##F_EP_WAR_CLASS##">##F_EP_WAR##</td>
			                    </tr>
			                    <tr class="##ROW_IT##">
			                        <td>Tiff/IT</td>
			                        <td class="##F_IT_ERR_CLASS##">##F_IT_ERR##</td>
			                        <td class="##F_IT_WAR_CLASS##">##F_IT_WAR##</td>
			                    </tr>
			                    <tr class="##ROW_IT1##">
			                        <td>Tiff/IT-P1</td>
			                        <td class="##F_IT1_ERR_CLASS##">##F_IT1_ERR##</td>
			                        <td class="##F_IT1_WAR_CLASS##">##F_IT1_WAR##</td>
			                    </tr>
			                    <tr class="##ROW_IT2##">
			                        <td>Tiff/IT-P2</td>
			                        <td class="##F_IT2_ERR_CLASS##">##F_IT2_ERR##</td>
			                        <td class="##F_IT2_WAR_CLASS##">##F_IT2_WAR##</td>
			                    </tr>
			                    <tr class="##ROW_PC##">
			                        <td>Policy Checker</td>
			                        <td class="##F_PC_ERR_CLASS##">##F_PC_ERR##</td>
			                        <td class="##F_PC_WAR_CLASS##">##F_PC_WAR##</td>
			                    </tr>
			                </table>
		                </div>
	                </div>
				</div>
				<div class="col-md-2"></div>
			</div>
			
		</div>
	</div>
	
	<div class="main">
		<div class="container">
			<div class="row top30-sm top50">
				<div class="col-md-6">
					<div class="clexpert"><input type="checkbox" name="expert" id="checkSelected" onchange="expertChanged()"> Expert mode</div>
					<h4><i class="fa fa-tags"></i>  Tags</h4>
					<table class="CustomTable3">
				        <tr>
				            <th class="bold">Tag Id</th>
							<th>#</th>
				            <th class="bold">Tag Name</th>
				            <th class="bold">Value</th>
				        </tr>
				        ##ROWS_TAGS##
					</table>
				</div>
				<div class="col-md-6 top30-sm">
					<h4>File structure</h4>
					##UL##
				</div>
			</div>
			<div class="row top30 bot50 ##BL_VISIBLE##">
				<div class="col-md-6">
					<h4><i class="fa fa-check-square-o"></i>  Baseline conformance</h4>
					<span style="margin-left: 20px; display: ##BL_OK##;" class="success"><i class="fa fa-check-circle"></i> This file conforms to Baseline</span>
					<table style="##BL_ERR-WAR##" class="CustomTable3">
				        <tr>
				            <th class="bold">Type</th>
				            <th class="bold">Location</th>
				            <th class="bold">Description</th>
				        </tr>
				        ##ROWS_BL##
					</table>
				</div>
			</div>
			<div class="row top30 bot50 ##EP_VISIBLE##">
				<div class="col-md-6">
					<h4><i class="fa fa-check-square-o"></i>  Tiff/EP conformance</h4>
					<span style="margin-left: 20px; display: ##EP_OK##;" class="success"><i class="fa fa-check-circle"></i> This file conforms to Tiff/EP</span>
					<table style="##EP_ERR-WAR##" class="CustomTable3">
				        <tr>
				            <th class="bold">Type</th>
				            <th class="bold">Location</th>
				            <th class="bold">Description</th>
				        </tr>
				        ##ROWS_EP##
					</table>
				</div>
			</div>
			<div class="row top30 bot50 ##IT_VISIBLE##">
				<div class="col-md-6">
					<h4><i class="fa fa-check-square-o"></i>  Tiff/IT conformance</h4>
					<span style="margin-left: 20px; display: ##IT_OK##;" class="success"><i class="fa fa-check-circle"></i> This file conforms to Tiff/IT</span>
					<table style="##IT_ERR-WAR##" class="CustomTable3">
				        <tr>
				            <th class="bold">Type</th>
				            <th class="bold">Location</th>
				            <th class="bold">Description</th>
				        </tr>
				        ##ROWS_IT##
					</table>
				</div>
			</div>
			<div class="row top30 bot50 ##IT1_VISIBLE##">
				<div class="col-md-6">
					<h4><i class="fa fa-check-square-o"></i>  Tiff/IT-P1 conformance</h4>
					<span style="margin-left: 20px; display: ##IT1_OK##;" class="success"><i class="fa fa-check-circle"></i> This file conforms to Tiff/IT-P1</span>
					<table style="##IT1_ERR-WAR##" class="CustomTable3">
				        <tr>
				            <th class="bold">Type</th>
				            <th class="bold">Location</th>
				            <th class="bold">Description</th>
				        </tr>
				        ##ROWS_IT1##
					</table>
				</div>
			</div>
			<div class="row top30 bot50 ##IT2_VISIBLE##">
				<div class="col-md-6">
					<h4><i class="fa fa-check-square-o"></i>  Tiff/IT-P2 conformance</h4>
					<span style="margin-left: 20px; display: ##IT2_OK##;" class="success"><i class="fa fa-check-circle"></i> This file conforms to Tiff/IT-P2</span>
					<table style="##IT2_ERR-WAR##" class="CustomTable3">
				        <tr>
				            <th class="bold">Type</th>
				            <th class="bold">Location</th>
				            <th class="bold">Description</th>
				        </tr>
				        ##ROWS_IT2##
					</table>
				</div>
			</div>
			<div class="row top30 bot50 ##PC_VISIBLE##">
				<div class="col-md-6">
					<h4><i class="fa fa-check-square-o"></i>  Policy checker</h4>
					<span style="margin-left: 20px; display: ##PC_OK##;" class="success"><i class="fa fa-check-circle"></i> This file conforms to Policy Checker</span>
					<table style="##PC_ERR-WAR##" class="CustomTable3">
				        <tr>
				            <th class="bold">Type</th>
				            <th class="bold">Description</th>
				        </tr>
				        ##ROWS_PC##
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<div class="container text-center top20 bot20">
			<a href="../report.html" class="button">Back</a>
		</div>
	</div>
	
	<!-- 	Java Script -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">
	var ifdSelected = 0;
	function showIfd(nameid){
		ifdSelected= nameid;
		$(".liifdlist").removeClass("bold");
		$("#liifd"+ifdSelected).addClass("bold");
		$(".ifd").removeClass("hide");
		$(".ifd").hide();
		$(".ifd"+ifdSelected).show();
		expertChanged();
	}
	function expertChanged(){
		if ($('#checkSelected').is(":checked")) $(".ifd"+ifdSelected+".expert").show();
		else $(".expert").hide();
	}
    </script>
</body>
</html>
