<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>##IMG_NAME##</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
	<link rel="stylesheet" type="text/css" href="../html/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../html/css/default.css">
	<link rel="stylesheet" type="text/css" href="../html/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../html/css/fontello.css">
	<!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>-->
	<style>
		@font-face {
			font-family:"Roboto";
			src: url("../html/fonts/Roboto-Regular.ttf");
		}
	</style>
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="container">
		
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4 hcenter">
					<img class="header-img" src="../html/img/logo.png" alt="Logo" />
				</div>
				<div class="col-md-4"></div>
			</div>
			
			<div class="row bot30-sm bot50">
				<h1>SINGLE FILE REPORT</h1>
			</div>
			
			<div class="row bot50">
				<div class="col-md-4 hcenter vcenter">
					<img src="##IMG_PATH##" class="preview-image" alt="preview" />
				</div><!--
				--><div class="col-md-8 vcenter">
					<div class="row">
						<div class="col-md-12 bot20 text-center-sm">
							<h2>##IMG_NAME##</h2>
							<h4 class="color-grey">##IMG_FILEPATH##</h4>
							<h4 class="color-grey">##IMG_FILESIZE##</h4>
							<div style="display: none;" class="##CL_LINKR2##"><h5><a href="##LINK2##">Report of fixed image</a></h5></div>
							<div style="display: none;" class="##CL_LINKR1##"><h5><a href="##LINK1##">Report of original image</a></h5></div>
							##DIVS_CONFORMS##
						</div>
						<div class="col-md-9">
			                <table class="center-table CustomTable">
								##TABLE_RESUME_ERRORS##
			                </table>
		                </div>
	                </div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="main">
		<div class="container">
			<div class="row top30-sm top50">
                ##TAGS_DIVS##
				<div class="col-md-4 top30-sm">
					<h4 class="bold"><i class="fa fa-sitemap"></i>  File structure</h4>
                    <table class="CustomTable3 ">
                        <tr>
                            <th>Elements</th>
                        </tr>
                        <tr>
                            <td>##UL##</td>
                        </tr>
                    </table>
				</div>
			</div>
            <div class="row top30-sm top50" style="display: ##SHOW_METADATA##;">
                <div class="col-md-12 top30-sm">
                    <h4 class="bold"><i class="fa fa-file-text"></i>  Metadata analysis</h4>
                    <table class="CustomTable3">
                        <tr>
                            <th style='width: 50px;'></th>
                            <th>Description</th>
                        </tr>
                        ##META_ROWS##
                    </table>
                </div>
            </div>
            <div class="row top30-sm top50" style="display: ##SHOW_CONFORMANCE##;">
                <div class="col-md-12 top30-sm">
                    <h4 class="bold"><i class="fa fa-thumbs-up"></i>  Conformance checker</h4>
                    ##DIVS_CONFORMANCE##
                </div>
            </div>
			<div class="row top30-sm top50" style="display: ##SHOW_POLICY##;">
				<div class="col-md-12 top30-sm">
					<h4 class="bold"><i class="fa fa-thumbs-up"></i>  Policy checker</h4>
					##DIVS_POLICY##
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<div class="container text-center top20 bot20">
			<a href="../report.html" class="button">Back</a>
		</div>
	</div>
	
	<!-- 	Java Script -->
	<script type="text/javascript">
	var originalLeave = $.fn.popover.Constructor.prototype.leave;
	$.fn.popover.Constructor.prototype.leave = function(obj){
	  var self = obj instanceof this.constructor ?
		obj : $(obj.currentTarget)[this.type](this.getDelegateOptions()).data('bs.' + this.type)
	  var container, timeout;

	  originalLeave.call(this, obj);

	  if(obj.currentTarget) {
		container = $(obj.currentTarget).siblings('.popover')
		timeout = self.timeout;
		container.one('mouseenter', function(){
		  //We entered the actual popover – call off the dogs
		  clearTimeout(timeout);
		  //Let's monitor popover content instead
		  container.one('mouseleave', function(){
			$.fn.popover.Constructor.prototype.leave.call(self, self);
		  });
		})
	  }
	};

	$(document).ready(function(){
		$('[data-toggle="popover"]').popover({
			html: true,
			delay: {show: 50, hide: 400},
			placement: 'auto'
		});
	});
	function showTagsDiv(id){
        $(".tags-divs").hide();
        $("#div"+id).show();

        $("#structure li a").removeClass("bold");
        $("#li"+id).addClass("bold");

		filterChanged(id);
	}
	function filterChanged(sufix){
		$(".expert").hide();
		$(".default-value").hide();
		if ($('#checkSelected'+sufix).is(":checked") && $('#defaultSelected'+sufix).is(":checked")) {
            $("."+sufix+".expert").show();
            $("."+sufix+".default-value").show();
		} else if ($('#checkSelected'+sufix).is(":checked")) {
			$("."+sufix+".expert").show();
            $("."+sufix+".default-value").hide();
		} else if ($('#defaultSelected'+sufix).is(":checked")) {
			$("."+sufix+".default-value").show();
            $("."+sufix+".expert").hide();
		}
	}
	function onChangeInfo(index){
		if ($("#checkInfo"+index).is(":checked")){
			$(".info"+index).show()
		} else {
			$(".info"+index).hide()
		}
	}
    </script>
</body>
</html>
