<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>##IMG_NAME##</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<link rel="stylesheet" type="text/css" href="../html/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../html/css/default.css">
	<link rel="stylesheet" type="text/css" href="../html/css/font-awesome.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="header">
		<div class="container">
		
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<img src="../html/img/logo.png" alt="Logo" />
				</div>
				<div class="col-md-4"></div>
			</div>
			
			<div class="row bot30-sm bot50">
				<h1>SINGLE FILE REPORT</h1>
			</div>
			
			<div class="row bot50">
				<div class="col-md-4">
					<img src="##IMG_PATH##" alt="preview" />
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-10 bot20 text-center-sm">
							<h2>##IMG_NAME##</h2>
							<div style="display: ##EP_OK##;" class="success"><i class="fa fa-check-circle"></i> This file conforms to Tiff/EP</div>
							<div style="display: ##EP_WAR##;" class="warning"><i class="fa fa-exclamation-triangle"></i> This file conforms to Tiff/EP, BUT it has some warnings</div>
							<div style="display: ##EP_ERR##;" class="error"><i class="fa fa-exclamation-triangle"></i> This file does NOT conform to Tiff/EP</div>
			<!-- 				<div style="display: ##CP_OK##;" class="success"><i class="fa fa-check-circle"></i> This file passes the policy checker</div> -->
			<!-- 				<div style="display: ##CP_ERR##;" class="error"><i class="fa fa-exclamation-triangle"></i> This file does NOT pass the policy checker</div> -->
						</div>
						<div class="col-md-12">
			                <table class="center-table CustomTable">
			                    <tr>
			                        <td></td>
			                        <td >Tiff/EP</td>
			                        <td></td>
			<!--                         <td>Policy checker</td> -->
			                    </tr>
			                    <tr>
			                        <td>Fixed</td>
			                        <td class="##F_EP_ERR_CLASS##">##F_EP_ERR## errors</td>
			                        <td class="##F_EP_WAR_CLASS##">##F_EP_WAR## warnings</td>
			<!--                         <td class="##F_PC_CLASS##">##F_PC## errors</td> -->
			                    </tr>
			                    <tr>
			                        <td>Unsolved</td>
			                        <td class="##U_EP_ERR_CLASS##">##U_EP_ERR_N## errors</td>
			                        <td class="##U_EP_WAR_CLASS##">##U_EP_WAR## warnings</td>
			<!--                         <td class="##U_PC_CLASS##">##U_PCR## errors</td> -->
			                    </tr>
			                </table>
		                </div>
	                </div>
				</div>
				<div class="col-md-2"></div>
			</div>
			
		</div>
	</div>
	
	<div class="main">
		<div class="container">
			<div class="row top30-sm top50">
				<div class="col-md-6">
					<h4><i class="fa fa-tags"></i>  Tags</h4>
					<table class="CustomTable3">
				        <tr>
				            <th class="bold">Tag Id</th>
				            <th class="bold">Tag Name</th>
				            <th class="bold">Value</th>
				        </tr>
				        ##ROWS_TAGS##
					</table>
				</div>
				<div class="col-md-6 top30-sm">
					<h4>File structure</h4>
					##UL##
				</div>
			</div>
			<div class="row top30 bot50">
				<div class="col-md-6">
					<h4><i class="fa fa-check-square-o"></i>  Baseline conformance</h4>
					<span style="margin-left: 20px; display: ##BL_OK##;" class="success"><i class="fa fa-check-circle"></i> This file conforms to Baseline</span>
					<table style="##BL_ERR-WAR##" class="CustomTable3">
				        <tr>
				            <th class="bold">Type</th>
				            <th class="bold">Location</th>
				            <th class="bold">Description</th>
				        </tr>
				        ##ROWS_BL##
					</table>
				</div>
			</div>
			<div class="row top30 bot50">
				<div class="col-md-6">
					<h4><i class="fa fa-check-square-o"></i>  Tiff/EP conformance</h4>
					<span style="margin-left: 20px; display: ##EP_OK##;" class="success"><i class="fa fa-check-circle"></i> This file conforms to Tiff/EP</span>
					<table style="##EP_ERR-WAR##" class="CustomTable3">
				        <tr>
				            <th class="bold">Type</th>
				            <th class="bold">Location</th>
				            <th class="bold">Description</th>
				        </tr>
				        ##ROWS_EP##
					</table>
				</div>
			</div>
			<div class="row top30 bot50">
				<div class="col-md-6">
					<h4><i class="fa fa-check-square-o"></i>  Tiff/IT conformance</h4>
					<span style="margin-left: 20px; display: ##IT_OK##;" class="success"><i class="fa fa-check-circle"></i> This file conforms to Tiff/IT</span>
					<table style="##IT_ERR-WAR##" class="CustomTable3">
				        <tr>
				            <th class="bold">Type</th>
				            <th class="bold">Location</th>
				            <th class="bold">Description</th>
				        </tr>
				        ##ROWS_IT##
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<div class="container text-center top20 bot20">
			<a href="../report.html" class="button">Back</a>
		</div>
	</div>
	
	<!-- 	Java Script -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">
	function showIfd(nameid){
		$(".ifd").removeClass("hide");
		$(".ifd").hide();
		$(".ifd"+nameid).show();
	}
    </script>
</body>
</html>
