@CHARSET "ISO-8859-1";

/*
	Basic Info
*/
#basic_info{
	width:100%;
	overflow: hidden;
	margin-top: 20px;
}

.preview{
	width:30%;
}

.preview img{
	max-width:100%;
	max-height:100%;
}

#info{
	width:68%;
	margin-left: 2%;
}

/*
	Content 
*/

.row{
	width: 100%;
	margin-bottom: 40px;
}

.box-l{
	width:48%;
	padding-right: 2%;
}

.box-r{
	width:48%;
	padding-left: 2%;
}

/* File Structure list */
div > ul {
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding: 15px; 
    padding-left: 25px;
}
ul{
	list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding-left: 25px;
}
li {
	padding-top: 5px;
}

/* Table 3*/
.CustomTable3 {
	margin-bottom:10px;
	padding:0px;
	border-collapse: collapse;
}.CustomTable3 th{
	text-align: left;
	background-color: white;
	padding: 5px;
}.CustomTable3 th:first-child{
	padding-left: 25px;
}
.CustomTable3 td{
	padding: 5px;
	padding-right: 10px;
}.CustomTable3 td:first-child{
	padding-left: 25px;
}

/*
	Footer 
*/
#footer{
	margin-top: 10px;
}

