@font-face {
    font-family: Roboto;
    src: url('file:src/main/resources/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('file:src/main/resources/fonts/Roboto-Bold.ttf');
}

/*Backgrounds*/

.background-main {
    -fx-background-color: #333333;
    -fx-border-width: 0;
}

.border-top {
    -fx-border-width: 2px 0 0 0;
    -fx-border-color: #333333;
}

.text-field, .paneRadios{
    -fx-background: white;
}

.allRed {
    -fx-background-color: red;
}

.transparent {
    -fx-background-color: transparent;
}

.main-logo{  }

/* Split Panes */

.split-pane {
    -fx-border-width: 0;
    -fx-padding: 0;
}

/* Chart */
#pie_chart {
    -fx-padding: -8px;
    -fx-pie-label-visible: false;
    -fx-pie-legend-visible: false;
    -fx-pie-title-visible: false;
}

.chart-pie {
    -fx-border-width: 0px;
    -fx-border-color:#31C2F3 ;
}
.data0.chart-pie { -fx-background-color: #33ccff; }
.data1.chart-pie { -fx-background-color: #f2f2f2; }

/* Elements */

.separator-line{
    -fx-background-color: #cccccc;
    -fx-max-width: 40;
    -fx-min-height: 2;
    -fx-max-height: 2;
}

.label-info{
    -fx-text-fill: #cccccc;
    -fx-font-size: 13;
    -fx-label-padding: 0;
    -fx-padding: 0;
    -fx-font-weight: bold;
    /*-fx-font-family: 'Roboto-Bold';*/
}

.label-white{
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-label-padding: 0;
    -fx-padding: 0;
}

.clabel-title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}
.clabel {
    -fx-text-fill: #ffffff;
}

/* Titles */

.mainTitle{
    -fx-text-fill: #33ccff;
    -fx-font-size: 16;
    -fx-font-family: Roboto;
}

.config-title{
    -fx-font-size: 16;
    -fx-font-family: Roboto;
    -fx-text-fill: #cccccc;
}

/* Buttons */

.button{
    -fx-cursor: hand;
}
.button:pressed{
    -fx-opacity: 80%;
}

.main-button {
    -fx-background-image: url('../images/button.png');
    -fx-text-fill: WHITE;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-min-width: 230;
    -fx-max-width: 230;
    -fx-min-height: 65;
    -fx-max-height: 65;
}

.button-info{
    -fx-background-image: url('../images/info-button.png');
    -fx-background-color: transparent;
    -fx-min-height: 18;
    -fx-max-height: 18;
    -fx-pref-width: 18;
}

.secondary-button {
    -fx-text-fill: WHITE;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-background-color: #33ccff;
    -fx-border-width: 5;
    -fx-background-radius: 5;
}
#selectButton{
    -fx-padding: 7 30 7 14;
}

.button-trans{
    -fx-text-fill: #31C2F3;
    -fx-background-color: #333333;
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-min-width: 120;
    -fx-max-width: 120;
    -fx-min-height: 45;
    -fx-max-height: 45;
}
.button-trans:pressed {
    -fx-background-color: #9b9b9b;
}

.but-remove{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.but-remove:hover{
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

/* Tab Pane Custom */

.config-but{
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-border-width: 0;
    -fx-min-width: 20;
    -fx-max-width: 20;
    -fx-min-height: 20;
    -fx-max-height: 20;
}
#step1.blue-but{
    -fx-background-image: url('../images/tab-buttons/tab-1-blue.png');
}
#step1.grey-but{
    -fx-background-image: url('../images/tab-buttons/tab-1-blue.png');
}

#step2.blue-but{
    -fx-background-image: url('../images/tab-buttons/tab-2-blue.png');
}
#step2.grey-but{
    -fx-background-image: url('../images/tab-buttons/tab-2-grey.png');
}

#step3.blue-but{
    -fx-background-image: url('../images/tab-buttons/tab-3-blue.png');
}
#step3.grey-but{
    -fx-background-image: url('../images/tab-buttons/tab-3-grey.png');
}

#step4.blue-but{
    -fx-background-image: url('../images/tab-buttons/tab-4-blue.png');
}
#step4.grey-but{
    -fx-background-image: url('../images/tab-buttons/tab-4-grey.png');
}

#step5.blue-but{
    -fx-background-image: url('../images/tab-buttons/tab-5-blue.png');
}
#step5.grey-but{
    -fx-background-image: url('../images/tab-buttons/tab-5-grey.png');
}

#step6.blue-but{
    -fx-background-image: url('../images/tab-buttons/tab-6-blue.png');
}
#step6.grey-but{
    -fx-background-image: url('../images/tab-buttons/tab-6-grey.png');
}

/* ComboBox Custom Blue */
.combo-dpf {
    cursor: hand;
    -fx-translate-x: -15;
}
.combo-dpf .combo-box .list-cell {
    -fx-background: #31C2F3;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}
.combo-dpf .combo-box-popup{
    -fx-border-radius: 5 5 5 5;
    -fx-text-fill:white;
}
.combo-dpf .combo-box-popup .list-view {
    -fx-background-color: #31C2F3, #31C2F3;
    -fx-background-insets: 0, 1;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}
.combo-dpf .combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;
    -fx-background-color: #31C2F3;
}
.combo-dpf .combo-box-popup .list-view .list-cell{
    -fx-background: white;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.combo-dpf .combo-box-popup .list-view .list-cell:filled:selected {
    -fx-border-radius: 5 5 5 5;
    -fx-background: white;
    -fx-background-color: #2794bb;
    -fx-text-fill: white;
}
.combo-dpf .combo-box-popup .list-view .list-cell:filled:selected:hover,
.combo-dpf .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #41dcff;
    -fx-text-fill: white;
}
.combo-dpf .combo-box-base {
    -fx-background-color: #31C2F3;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-text-fill: white;
}
.combo-dpf, .combo-dpf .arrow-button {
    -fx-background-color: transparent;
}
.combo-dpf .arrow {
    -fx-background-color: white;
}


/* Combo Box Langauges */
.combo-box-grey {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0 0 0 10;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #F2F2F2;
    -fx-cursor: hand;
}
.combo-box-grey .list-cell {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-text-fill: #1cc2ff;
    -fx-cell-size: 30px;
    -fx-border: 0;
    -fx-padding: 0;
}
.combo-box-grey .combo-box-popup .list-view {
    -fx-background-color: #333333;
    -fx-border-width: 2px;
    -fx-border-color: #F2F2F2;
}
.combo-box-grey .combo-box-popup .list-view .list-cell {
    -fx-text-fill: #bfbfbf;
    -fx-padding: 5 5 5 5;
}
.combo-box-grey .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-text-fill: #1cc2ff;
}
.combo-box-grey .arrow-button {
    -fx-background-color: transparent;
}
.combo-box-grey .arrow {
    -fx-background-color: #1cc2ff;
}
.combo-box-grey .scroll-bar:vertical{
    -fx-opacity: 0;
}


/* Combo Box Custom White */

.combo-box-white .list-cell {
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-padding: 5 0 5 10;
    -fx-font-size: 15px;
    -fx-cell-size: 30px;
    -fx-border: 0;
}
.combo-box-white .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: gray;
    -fx-text-fill: -fx-text-inner-color;
}
.combo-box-white {
    -fx-background-color: white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}
.combo-box-white .arrow {
    -fx-background-color: black;
}
.combo-box-white .arrow-button {
    -fx-background-color: white;
    -fx-size: 5;
}
.combo-box-white .scroll-bar:vertical{
    /*-fx-opacity: 0;*/
}
/*.combo-box-white .scroll-bar {*/
    /*-fx-opacity: 0;*/
/*}*/


/* Txt fields */

.txtRule,.txtFix {
    -fx-background-color: white;
    -fx-padding: 5px;
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

/* Top Panel */

.top-button{
    -fx-background-color: transparent;
    -fx-text-fill: #bfbfbf;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-cursor: hand;
}
.top-button:hover {
    -fx-background-color: rgba(200,200,200,0.2);
}
.top-button.active,
.top-button:selected {
    -fx-text-fill: #1cc2ff;
}

.top-separator{
    -fx-background-color: #868686;
}

.bot-separator{
    -fx-background-color: #868686;
    -fx-max-height: 15;
    -fx-min-height: 15;
}

.bot-big-separator{
    -fx-background-color: #F2F2F2;
    -fx-max-height: 21;
    -fx-min-height: 21;
}

.bot-label {
    -fx-background-color: transparent;
    -fx-text-fill: #1cc2ff;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-alignment: center;
}

.top-pane {
    -fx-background-color: black;
    -fx-padding: 8px;
}

/* Bottom Panel */

.bot-hbox {
    -fx-background-color: #333333;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #F2F2F2;
    -fx-padding: 0 0 2 0;
}
.bot-button{
    -fx-background-color: black;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-text-fill: #1cc2ff;
}
.bot-button:hover {
    -fx-background-color: rgba(200,200,200,0.2);
}

/* Dividers */

.split-pane:vertical .split-pane-divider {
    -fx-background-color: #333333;
    -fx-padding: 0 0 0 0;
}
.split-pane:vertical .split-pane-divider.show-divider {
    -fx-padding: 0 1 0 1;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #F2F2F2;
    -fx-padding: 0 0 0 0;
}

.split-pane:horizontal .split-pane-divider.show-divider {
    -fx-padding: 0 1 0 1;
}


/* Table View */

.table-view {
    -fx-background-color: #333333;
    -fx-table-cell-border-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: #333333;
    -fx-border-color: transparent transparent gray transparent;
}
.table-view .table-row-cell {
    -fx-background-color: #333333;
    -fx-font-size: 11px;
    -fx-border-color: transparent transparent gray transparent;
}
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-cursor: hand;
}
.table-view .column-header {
    -fx-background-color: #333333;
    -fx-border-color: transparent transparent gray transparent;
}
.table-view .column-header .label{
    -fx-border-color: transparent transparent gray transparent;
    -fx-background-color: #333333;
    -fx-font-size: 12px;
    -fx-text-fill: #1cc2ff;
    -fx-alignment: CENTER-LEFT;
}
.table-view .arrow {
    -fx-mark-color: cyan ;
}
.table-view .column-header {
    -fx-border-width: 0 0 1 0;
}
.table-view .table-column {
    -fx-alignment: CENTER-LEFT;
}
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-cursor: default;
}
.table-view:row-selection .table-row-cell:selected .table-cell{
    -fx-border-color: transparent;
}

/* Text Area */
.text-area{
    -fx-background-color: white;
    -fx-text-fill: black;
    overflow: scroll;
}

.console-area{
    -fx-background-color: black;
    -fx-text-fill: #1cc2ff;
    -fx-border-width: 0;
}

.console-area .scroll-pane,
.console-area .viewport,
.console-area .content{
    -fx-border-width: 0;
    -fx-background-color: black;
}

.console-area .viewport{
    -fx-border-width: 0;
}

/* Scroll Bars */
.dpf-bar .scroll-bar,
.dpf-bar .scroll-bar .track,
.dpf-bar .corner,
.dpf-bar .track-background,
.dpf-bar .scroll-bar .decrement-button, n,
.dpf-bar .scroll-bar .decrement-button:hover,
.dpf-bar .scroll-bar .increment-arrow,
.dpf-bar .scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
}
.dpf-bar .scroll-bar .thumb {
    -fx-background-color: #1cc2ff;
}

/* Check Box Config IC */

.checkreport{
    -fx-text-fill: white;
    -fx-font-size: 13;
}

.checkreport .box {
    -fx-border-width     : 2px;
    -fx-border-color: #1cc2ff;
    -fx-background-color: white;
    -fx-padding: 2px;
}

.checkreport .mark {
    -fx-background-color: white;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.checkreport:selected .mark {
    -fx-background-color: #1cc2ff;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

/* Legal Form */

.inputlegal {
    -fx-background-color: white;
}

.checklegal .box {
    -fx-border-width     : 1px   ;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-padding: 4px;
}

.checklegal .mark {
    -fx-background-color: white;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.checklegal:selected .mark {
    -fx-background-color: black;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.checklegal {
    -fx-text-fill: white;
}

.buttonlegal {
    -fx-background-color: white;
}

/* Loading */

.loading {
    -fx-background-color: white, white , white;
    -fx-border-width     : 1px   ;
    -fx-border-color     : #31C2F3  ;
}
.loading2 {
    -fx-background-color: rgba(255,255,255,0.4);
}
.loading3 {
    -fx-background: rgba(255,255,255,0.4);
}

/* Task pane */
.dpf-progress-bar > .bar {
    -fx-background-insets: 3;
    -fx-padding: 9px;
}

.dpf-progress-bar > .track {
    -fx-background-color: #333333;
    -fx-background-insets: 3;
    -fx-padding: 9px;
}
.dpf-progress-bar.green-bar > .bar { -fx-accent: #04c500;  }
.dpf-progress-bar.blue-bar > .bar { -fx-accent: #31C2F3; }

.background-tasks{
    -fx-background-color: #F2F2F2;
}

.separator-task {
    -fx-background-color: #333333;
}

.label-task{
    -fx-text-fill: #333333;
    -fx-font-size: 13;
    -fx-label-padding: 0;
    -fx-padding: 0;
    -fx-font-weight: bold;
    /*-fx-font-family: 'Roboto-Bold';*/
}