/* Application wide styles */


/* Component specific styles */

.mainimage{
	-fx-image: url("../images/main.png");
}

.mainimagereport{
	-fx-image: url("../images/report.png");
}

.backgr{
	-fx-image: url("../images/back.png");
}

/* Radio button style */
.radio-button .radio{
	-fx-border-width     : 1px   ;
	-fx-border-color     : #31C2F3  ;
	-fx-background-color: white;
	-fx-background-image: null;
	-fx-border-radius: 15px;
	-fx-padding: 4px;
}

.radio-button .dot {
	-fx-mark-highlight-color: #31C2F3 ;
	-fx-mark-color: #31C2F3 ;
}

.button{
	-fx-background-color: #303030;
	-fx-border-width     : 1px   ;
	-fx-border-color     : white  ;
	-fx-border-radius: 5 5 5 5;
	-fx-background-radius: 5 5 5 5;
}

.button-check{
	-fx-background-color: transparent;
	-fx-border-width     : 0px   ;
	-fx-border-radius: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}

#myButton{
	-fx-background-color: #31C2F3;
	-fx-border-width     : 1px   ;
	-fx-border-color     : #31C2F3  ;
	-fx-border-radius: 5 5 5 5;
	-fx-background-radius: 5 5 5 5;
}
.button:pressed{
	-fx-background-color: #848282;
}

#myButton:pressed{
	-fx-background-color: #19B2D8;
}

.button-check:pressed{
	-fx-background-color: rgba(255, 255, 255, 0.2);
}

#topMenuImage1{
    -fx-background-image: url("../images/topMenu1.png");
    -fx-background-position: center center;
    -fx-background-repeat: repeat-x;
}

#topMenuImage{
    -fx-background-image: url("../images/topMenu.png");
    -fx-background-position: center center;
    -fx-background-repeat: repeat-x;
}
/*
.button:hover{
	-fx-background-color: rgba(235,235,235,0.7);
}
*/

.split-pane:vertical > .split-pane-divider {
    -fx-padding: 0;
    -fx-border-color:  #333333;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.split-pane *.vertical-grabber {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: " ";
}
.hidden {
	display:none;
}

.tableReports {
	-fx-border-width: 0;
}

.th {
	-fx-border-width: 0;
	-fx-background-color: #333333;
}

.th .label {
	-fx-text-fill: #1cc2ff;
}