/* Application wide styles */


/* Component specific styles */

.mainimage{
	-fx-image: url("../images/main.png");
}

.mainimagereport{
	-fx-image: url("../images/report.png");
}

.backgr{
	-fx-image: url("../images/back.png");
}

.config1{
	-fx-image: url("../images/config1.png");
}

.config2{
	-fx-image: url("../images/config2.png");
}

.config3{
	-fx-image: url("../images/config3.png");
}

.config4{
	-fx-image: url("../images/config4.png");
}

.config6{
	-fx-image: url("../images/config6.png");
}

/* Radio button style */
.radio-button .radio{
	-fx-border-width     : 1px   ;
	-fx-border-color     : #31C2F3  ;
	-fx-background-color: white;
	-fx-background-image: null;
	-fx-border-radius: 15px;
	-fx-padding: 4px;
}
.radio-button .dot {
	-fx-mark-highlight-color: #31C2F3 ;
	-fx-mark-color: #31C2F3 ;
}
.radio-button:selected .dot {
	-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
}

.button{
	-fx-background-color: #303030;
	-fx-border-width     : 1px   ;
	-fx-border-color     : white  ;
	-fx-border-radius: 5 5 5 5;
	-fx-background-radius: 5 5 5 5;
}

.button-check{
	-fx-background-color: transparent;
	-fx-border-width     : 0px   ;
	-fx-border-radius: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}

#addRule,#addFix{
	-fx-font: 12 "arial black";
}
#myButton,#addRule,#addFix{
	-fx-background-color: #31C2F3;
	-fx-border-width     : 1px   ;
	-fx-border-color     : #31C2F3  ;
	-fx-border-radius: 5 5 5 5;
	-fx-background-radius: 5 5 5 5;
}
.button:pressed{
	-fx-background-color: #848282;
}

#myButton:pressed,#addRule:pressed,#addFix:pressed{
	-fx-background-color: #19B2D8;
}

.button-check:pressed{
	-fx-background-color: rgba(255, 255, 255, 0.2);
}

#topMenuImage1{
    -fx-background-image: url("../images/topMenu1.png");
    -fx-background-position: center center;
    -fx-background-repeat: repeat-x;
}

#topMenuImage2{
	-fx-background-image: url("../images/topMenu2.png");
	-fx-background-position: center center;
	-fx-background-repeat: repeat-x;
}

#topMenuImage{
    -fx-background-image: url("../images/topMenu.png");
    -fx-background-position: center center;
    -fx-background-repeat: repeat-x;
}
/*
.button:hover{
	-fx-background-color: rgba(235,235,235,0.7);
}
*/

.split-pane:vertical > .split-pane-divider {
    -fx-padding: 0;
    -fx-border-color:  #333333;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.split-pane *.vertical-grabber {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: " ";
}
.hidden {
	display:none;
}

.table-view {
	-fx-background-color: #333333;
	-fx-table-cell-border-color: transparent;
}

.table-view .column-header-background .filler {
	-fx-background-color: #333333;
	-fx-border-color: transparent transparent gray transparent;
}

.table-view .table-row-cell {
	-fx-background-color: #333333;
	-fx-font-size: 11px;
	-fx-border-color: transparent transparent gray transparent;
}

.table-view:row-selection .table-row-cell:filled:hover {
	-fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-cursor: hand;
}

.table-view .column-header {
	-fx-background-color: #333333;
	-fx-border-color: transparent transparent gray transparent;
}

.table-view .column-header .label{
	-fx-border-color: transparent transparent gray transparent;
	-fx-background-color: #333333;
	-fx-font-size: 12px;
	-fx-text-fill: #1cc2ff;
	-fx-alignment: CENTER-LEFT;
}

.table-view .arrow {
	-fx-mark-color: cyan ;
}

.backabout {
	-fx-background-color: #333333;
}

.clabel {
	-fx-text-fill: #ffffff;
}
.table-view .scroll-bar:vertical .track{
    -fx-background-color:#333333;
}

.table-view .scroll-bar:vertical .thumb{
    -fx-background-color:#1cc2ff;
}

.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:#333333;
    -fx-background-radius: 2em;

}
.table-view .scroll-bar:vertical .increment-arrow,
.table-view .scroll-bar:vertical .decrement-arrow,
{
    -fx-background-color:transparent;
    -fx-color-label-visible: blue;
}

.inputlegal {
	-fx-background-color: white;
}

.checklegal .box {
	-fx-border-width     : 1px   ;
	-fx-background-color: white;
	-fx-background-image: null;
	-fx-padding: 4px;
}

.checklegal .mark {
	-fx-background-color: white;
	-fx-background-insets: 1 0 -1 0, 0;
	-fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.checklegal:selected .mark {
	-fx-background-color: black;
	-fx-background-insets: 1 0 -1 0, 0;
	-fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.checkreport .box {
	-fx-border-width     : 2px;
	-fx-border-color: #1cc2ff;
	-fx-background-color: white;
	-fx-padding: 2px;
}

.checkreport .mark {
	-fx-background-color: white;
	-fx-background-insets: 1 0 -1 0, 0;
	-fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.checkreport:selected .mark {
	-fx-background-color: #1cc2ff;
	-fx-background-insets: 1 0 -1 0, 0;
	-fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.buttonlegal {
	-fx-background-color: white;
}

.button-continue{
	-fx-font-size:20px;
	-fx-font-weight:bold;
	-fx-background-color: #1cc2ff;
	-fx-border-width     : 0   ;
	-fx-border-radius: 3;
	-fx-background-radius: 3;
}


/* Combos rules */
.combo-box .list-cell
{
	-fx-background: white;
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-padding: 5 0 5 10;
	-fx-font-size: 15px;
	-fx-cell-size: 30px;
}
.combo-box-popup .list-view .list-cell:filled:hover
{
	-fx-background-color: gray;
	-fx-text-fill: -fx-text-inner-color;
}
.combo-box-base
{
	-fx-background-color: white, white, white, white;
	-fx-background-radius: 5, 5, 4, 3;
	-fx-background-insets: 0 0 -1 0, 0, 1, 2;
	-fx-padding: 0;
}
.combo-box .arrow {
	-fx-background-color: black;
}

.combo-box .arrow-button {
	-fx-background-color: white;
	-fx-size: 5;
}

.txtRule,.txtFix {
	-fx-background-color: white, white , white;
	-fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
	-fx-padding:7px;
}

.loading {
	-fx-background-color: white, white , white;
	-fx-border-width     : 1px   ;
	-fx-border-color     : #31C2F3  ;
}
.loading2 {
	-fx-background-color: rgba(255,255,255,0.4);
}
.paneRadios {
	-fx-background-color: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	-fx-border-radius: 5 5 5 5;
	-fx-background-radius: 5 5 5 5;
}